@import "tailwindcss";

body {
  @apply bg-gradient-to-b from-background-DEFAULT to-black;
}

@theme {
  --color-black-DEFAULT: #000000;
  --color-black-100: #000319;
  --color-background-DEFAULT: #05080D;

}

/* dark mode */
@variant dark (&:where(.dark, .dark *));


/* star twinkle animation */
@keyframes twinkle {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

